<div class="room-details room-details__bottom half-height <%= room.available_class %>">
  <div class="d-flex justify-content-around align-items-center text-center">
    <div class="p-2">
      <%= arrow %>
    </div>

    <div class="px-2">
      <div class="d-flex flex-column">
        <h1 id="room-name"><%= room.name %></h1>
        <p id="up-next"><%= room.availability %></p>
      </div>
    </div>

    <div class="p-2">
      <p><%= qr_code(room) %></p>
      <p><%= t("scan-qr-code_html") %></p>
    </div>
  </div>
</div>
