<div class="room-details room-details__bottom half-height <%= room.available_class %>">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 center">
      <h1 id="room-name"><%= room.name %></h1>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--2-of-12 center">
      <p><%= arrow %></p>
    </div>

    <div class="grid__col grid__col--8-of-12 center">
      <p id="up-next"><%= room.availability %></p>
    </div>

    <div class="grid__col grid__col--2-of-12 center">
      <p><%= qr_code %></p>
      <p class="center">Schedule Room</p>
    </div>

  </div>
</div>
