<div class="room-details room-details__top half-height <%= room.decorate.available_class %> px-2">
  <div class="container">
    <div class="item">
      <div class="pt-2"><%= qr_code(room) %></div>
      <p><%= t("scan-qr-code_html") %></p>
    </div>

    <div class="item grow text-center" style="position: relative; top: -1rem;">
      <h1 id="room-name"><%= room.name %></h1>
      <p id="up-next"><%= room.availability %></p>
    </div>

    <div class="item">
      <%= arrow %>
    </div>
  </div>
</div>