<div class="row pt-2">
  <div class="col-md-6">
    <h1>Schedule <%= @form.context.room.name %></h1>
  </div>
</div>

<div class="row pt-2">
  <div class="col-md-6">
    <%= bootstrap_form_for @form, url: room_event_requests_path, data: { controller: "event_request" } do |f| %>
      <%= f.text_field :ohioid, placeholder: t("event.ohioid", scope: ["helpers", "label"]), append: "@" << Settings.domain %>
      <%= f.hidden_field :start_at, data: { target: "event_request.dateTime" } %>
      <%= f.date_field :date, min: "TODO", max: "TODO", required: true, data: { target: "event_request.date", action: "event_request#update" } %>
      <%= f.time_field :time, min: "TODO", max: "TODO", step: "1800", required: true, data: { target: "event_request.time", action: "event_request#update" } %>
      <%= f.select :duration, options_for_select(f.object.duration_select_options, f.object.duration_select_default) %>
      <%= f.text_area :purpose, class: "form-control", rows: 3 %>
      <%= f.submit "Request" %>
    <% end %>
  </div>
</div>
