<h1><%= @event.purpose %></h1>

<% if @event.requested? %>
  <p><%= Settings.web.requested %></p>
<% end %>
<% if @event.verified? %>
  <p><%= Settings.web.pending %></p>
<% end %>
<% if @event.approved? %>
  <p><%= Settings.web.approved %></p>
<% end %>
<% if @event.declined? %>
  <p><%= Settings.web.declined %></p>
<% end %>
<% if @event.finished? %>
  <p><%= Settings.web.finished %></p>
<% end %>


<h2>Event Details</h2>
<% @event.details.each do |(key, value)| %>
  <p style="font-family: sans-serif; font-size: 16px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    <b><%= key.titleize %>:</b>&nbsp;<span><%= value.strip %></span>
  </p>
<% end %>