<div class="room-details room-details__bottom full-height <%= room.decorate.available_class %>">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 center">
      <h1 id="room-name"><%= room.name %></h1>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--3-of-12 center">
      <p><%= qr_code(room) %></p>
      <p class="center">Schedule Room</p>
    </div>

    <div class="grid__col grid__col--6-of-12 center">
      <p id="up-next"><%= room.decorate.availability %></p>
      <p id="ou-logo">
        <%= ohio_image %>
      </p>
    </div>

    <div class="grid__col grid__col--3-of-12 center">
      <p id="logo">
        <%= patton_college_image %>
      </p>
      <p id="clock">
        <%= now_time %>
      </h2>
    </div>
  </div>
</div>
