<div class="room-details room-details__bottom full-height <%= room.decorate.available_class %> px-2 pt-2">
  <div class="container">
    <div class="item">
      <%= qr_code(room) %>
      <p><%= t("scan-qr-code_html") %></p>
    </div>
    <div class="item grow text-center">
      <h1 id="room-name">
        <%= room.name %>
      </h1>
      <p id="up-next">
        <%= room.decorate.availability %>
      </p>
      <div class="ou-logo">
        <%= ohio_image %>
      </div>
    </div>
    <div class="item" style="float: right;">
      <div class="logo pt-6">
        <%= patton_college_image %>
      </div>
      <div class="pt-4" id="clock">
        <%= now_time %>
      </h2>
    </div>
  </div>
</div>
