<div class="room-details room-details__bottom full-height">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 center">
      <h1 id="room-name"><%= room.name %></h1>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--3-of-12 center">
      <p><%= qr_code %></p>
      <p class="center">Schedule Room</p>
    </div>

    <div class="grid__col grid__col--6-of-12 center">
      <p id="ou-logo">
        <%= image_tag("OHIO_Patton_Logo_Black.gif", height: "100px") %>
      </p>
      <p id="up-next">
        <%= room.decorate.availability %>
      </p>
    </div>

    <div class="grid__col grid__col--3-of-12 center">
      <p id="logo">
        <%= image_tag("CalledToLead-Blue.gif") %>
      </p>
      <p id="clock">
        <%= now_time %>
      </h2>
    </div>
  </div>
</div>
