<div class="room-details room-details__bottom full-height <%= room.decorate.available_class %>">
  <div class="pt-4 d-flex justify-content-around align-items-base text-center">
    <div class="pt-4">
      <div class="d-flex flex-column">
        <div class="p-1">
          <%= qr_code(room) %>
        </div>
        <div class="p-1">
          <p><%= t("scan-qr-code_html") %></p>
        </div>
      </div>
    </div>

    <div class="p-0">
      <h1 id="room-name"><%= room.name %></h1>
      <p id="up-next"><%= room.decorate.availability %></p>
      <p id="ou-logo">
        <%= ohio_image %>
      </p>
    </div>

    <div class="pt-4">
      <div class="d-flex flex-column">
      <div class="p-1" id="logo">
        <%= patton_college_image %>
      </div>
      <div class="p-1" id="clock">
        <%= now_time %>
      </h2>
    </div>
  </div>
</div>
