<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t("site.title", name: "Home") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
