<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t("site.title", name: "Home") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <%= content_tag :body, class: [controller_name.classify, action_name.classify].join do %>
    <main class="container">
      <%= yield %>
    </main>
  <% end %>
</html>
