<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PCOE de Signage | <%= @screen.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Don't have turbolinks cache -->
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body class="screen-layout <%= screen_rotation_class %>" data-next-slide-url="<%= next_slide_url %>" data-slide-length="<%= slide_length %>">
    <div class="grid">
      <div class="grid__col grid__col--12-of-12">
        <% if @screen.rooms.empty? %>
          <%= render partial: "layouts/screens/no_rooms" %>
        <% elsif dual_layout? && @screen.rooms.one? %>
          <%= render partial: "layouts/screens/only_one_room" %>
        <% elsif too_many_rooms? %>
          <%= render partial: "layouts/screens/too_many_rooms" %>
        <% elsif no_playlist? %>
          <%= render partial: "layouts/screens/no_playlist" %>
        <% elsif dual_layout? %>
          <%= render partial: "layouts/screens/dual" %>
        <% else %>
          <%= render partial: "layouts/screens/single" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
