<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% t("site.title", name: @screen.name) %></title>
    <!-- Don't have turbolinks cache -->
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag "screen", media: "all", "data-turbolinks-track": "reload" %>
    <%# javascript_include_tag "screen", "data-turbolinks-track": "reload" %>
  </head>
  <%= content_tag :body, class: screen_rotation_class, data: {next_slide_url: next_slide_url, slide_length: slide_length} do %>
    <% if @screen.rooms.empty? %>
      <%= render partial: "layouts/screens/no_rooms" %>
    <% elsif dual_layout? && @screen.rooms.one? %>
      <%= render partial: "layouts/screens/only_one_room" %>
    <% elsif too_many_rooms? %>
      <%= render partial: "layouts/screens/too_many_rooms" %>
    <% elsif no_playlist? %>
      <%= render partial: "layouts/screens/no_playlist" %>
    <% elsif dual_layout? %>
      <%= render partial: "layouts/screens/dual" %>
    <% else %>
      <%= render partial: "layouts/screens/single" %>
    <% end %>
  <% end %>
</html>